.products-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-section{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.cart-section{
    background: rgba(255, 153, 0, 0.3);
}
.btn-checkout{
    color: white;
    background: #FF9900;
    border-radius: 4px;
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
